/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}
/* FIM DO RESET*/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-inline: 80px;
    background-color: black;
}
header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    height: 96px;
    width: 96px;
    background-image: url(./img/10994411-nike-logotipo-design-de-roupas-brancas-icone-abstrato-futebol-ilustracaoial-com-fundo-preto-gratis-vetor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.menu ul{
    display: flex;
    gap: 32px;
    font-size: 32px;
    color: white;
}
.conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conteudo h1{
    font-size: 96px;
    color: white;
}
.conteudo p{
    width: 48%;
    font-size: 32px;
    color: white;
}
.acao button{
    height: 80px;
    width: 300px;
    background-color: white;
    color: black;
    font-size: 32px;
}
.social{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.social div{
    height: 96px;
    width: 96px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url(./img/p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.destaque{
    width: 50%;
    background-image: url(./img/tlddd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    flex-grow: 1;
    display: flex;
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}